<ion-tabs>
  <ion-tab-bar slot="bottom">
    <ion-tab-button tab="home">
      <ion-icon name="home-outline"></ion-icon>
      <ion-label>Home</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="trip-history">
      <ion-icon name="time-outline"></ion-icon>
      <ion-label>Trips</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="feedback">
      <ion-icon name="star-outline"></ion-icon>
      <ion-label>Feedback</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="customer-support">
      <ion-icon name="help-circle-outline"></ion-icon>
      <ion-label>Support</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="profile">
      <ion-icon name="person-outline"></ion-icon>
      <ion-label>Profile</ion-label>
    </ion-tab-button>
  </ion-tab-bar>
</ion-tabs>
