ion-content {
  --background: #f9f9f9;
}

h1 {
  margin-top: 40px;
  color: var(--ion-color-primary);
  font-weight: bold;
}

form {
  margin-top: 20px;
  background: white;
  padding: 16px;
  border-radius: 8px;
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
}

ion-note {
  display: block;
  margin: 5px 10px 15px;
  font-size: 0.8rem;
}

ion-button[type="submit"] {
  margin-top: 16px;
}
